.products-container{
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 600px;
    padding-bottom: 100px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #b9b7b7;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price-product {
   
    width: 15%;
    display: flex;
    align-items: center;
}

.quatity-product {
    width: 30%;
    border-bottom: 1px solid #b9b7b7;
    display: flex;
    align-items: center;
}


.total {
    width: 10%;
    
    display: flex;
    align-items: center;
}

.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #b9b7b7;
}

.products-container ion-icon {
    font-size: 20px;
    color: #eb0b0b;
    cursor: pointer;
    margin-left: 10px;
}

.imgShoppingCart{
    width: 30%;
}


.shoppingCartCSS {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#total{
    margin-left: 120px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal{
    width: 10%;
}